:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --main-color: #2196f3;
  --dark-color: #212121;
  --gray-color: #757575;
  --litegray-color: #afb1b8;
  --white-color: #ffffff;
  --main-section-color: #2f303a;
  --button-color: #f5f4fa;
  --gray-color-transparent: rgba(255, 255, 255, 0.6);
  --shadow-color: rgba(0, 0, 0, 0.15);
}

body {
  background-color: var(--white-color);
  font-family: var(--main-font);
  color: var(--dark-color);
}

h1,
h2,
h3,
h4,
h5,
h6{
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0;
}

p{
  padding: 0;
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  align-items: center;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  /* 42px */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-color);
}

/* .link:visited,
.link:link */

.navi-list-link {
  color: var(--dark-color);
}

.link {
  /* transition-duration: 3s, 1s;
  transition-property: margin-right, color; */
  /* transition: color 250px 3s, 1s linear; */
  transition: color 250ms linear, transform 250ms ease;
}

.navi-list,
.adres,
.atut-list,
.work-list,
.team-list,
.prace,
.project-list,
.adres-footer-list,
.list {
  list-style: none;
}

.foter {
  background-color: var(--dark-color);
  color: var(--white-color);
}

/* ==== header ==== */
.header .container {
  display: flex;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  height: 80px;
  /* padding-top: 24px;
  padding-bottom: 25px; może to będzie dobrze*/
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid #ECECEC;
  /* border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ECECEC; */
}

.logo-menu {
  display: block;
  margin-right: 93px;
}

.navi-list-item:not(:last-child) {
  margin-right: 46px;
}

.current-navi .navi-list-link::after {
  position: relative;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  top: 30px;
  border-radius: 2px;
  background-color: var(--main-color);
}

.mail-link {
  margin-left: auto;
  margin-right: 50px;
}

.navi {
  display: flex;
  align-items: center;
}

.navi-list {
  display: flex;
}

/* --- logo --- */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  /* line-size = 1.192 = line-size w px (np. 31px) podzielić przez font-size (np. 26px) */
  line-height: 1.192;
  /* 31px */
  letter-spacing: 0.03em;
  color: var(--dark-color);
}

.logo:visited {
  color: var(--dark-color);
}

.agencja-navi,
.portfolio-navi {
  color: var(--main-color);
}

.logo-web {
  color: var(--main-color);
}

/* nawigacja */

.navi-list,
.adres {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  /* 16 */
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.navi-list-link:hover,
.navi-list-link:focus,
.adres-mail:hover,
.adres-mail:focus,
.adres-phone:hover,
.adres-phone:focus,
.adres-icon-mail:focus,
.adres-icon-mail:hover,
.adres-icon-phone:focus,
.adres-icon-phone:hover,
.adres-footer-list-item > .link:hover,
.adres-footer-list-item > .link:focus {
  color: var(--main-color);
  fill: var(--main-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adres,
.adres-footer {
  font-style: normal;
}

.adres {
  display: flex;
  align-items: center;
  color: var(--gray-color);
  fill: var(--gray-color);
}

.adres-icon-mail,
.adres-icon-phone {
  display: flex;
  margin-right: 10px;
  /* fill: var(--gray-color); */
}

/* .adres-icon-mail {
  width: 16px;
}

.adres-icon-phone {
  width: 10px;
} */

/* ==== main ===== */
.main-section .container {
  display: block;

  /* width: 1600px; */
  color: var(--white-color);
  /* padding: 0px; */
  /* padding-left: 215px;
  margin: 0 auto;
   */
  padding-top: 200px;
  padding-bottom: 200px;
}

.main-section {
  display: block;
  background-image: linear-gradient(
    rgba(47, 48, 58, 0.4), 
    rgba(47, 48, 58, 0.4)), 
    url("../images/main/main-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* background: var(--main-section-color); */
  /* padding-top: 200px; */
  /* padding-top: 0; */
  /* padding-bottom: 200px; */
}

.main-header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  /* 60px */
  letter-spacing: 0.06em;
  text-align: center;
  justify-content: center;
  /* justify-items: center; */
  /* color: var(--white-color); */
  width: 696px;

  display: block;
  align-items: center;
  /* padding-top: 200px; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.button-main {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  /* 30px */
  letter-spacing: 0.06em;
  color: var(--dark-color);
  width: 210px;
  height: 50px;

  cursor: pointer;
  border-style: none;
  border-radius: 4px;

  display:block;
  box-shadow: 0px 4px 4px var(--shadow-color);
  align-items: center;
  text-align: center;
  padding: 10px 41px 10px 42px;
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: 200px; */
}

.button-main:hover,
.button-main:focus {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  /* 26px */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-color);
  background-color: var(--button-color);
  height: 38px;
  cursor: pointer;
}

.button-main,
.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--main-color);
  color: var(--white-color);
}

.button-portfolio:hover,
.button-portfolio:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
  0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* main page - atuts */
.atut .container {
  display:block;
}

.atut {
  padding-bottom: 0;
}

.atut-list {
  display: flex;
  /* justify-content: space-evenly; */
  flex-wrap: wrap;
  justify-content: space-between;
}

/* .atut-list-item:not(:last-child) {
  margin-right: 30px;
}   */

.atut-list-item {
  flex-basis: calc(100% / 4 - 30px);
  /* padding-bottom: 20px; */
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}


.atut-social-icon {
  display: flex;
  /* width: 70px;
  height: 70px;   */
}

.atut-l-icon {
  display: flex;
  align-items: center;
  width: 270px;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
}

.atut-header {
  display: flex;
  width: 270px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  /* 16px */
  letter-spacing: 0.03em;
  color: var(--dark-color);
}

.atut-p {
  display: flex;
  width: 270px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  /* 24px */
  letter-spacing: 0.03em;
  color: var(--dark-color);
}

.atut-p:not(:last-child) {
  margin-right: 30px;
}

/* Work - main page */

.work-section .container {
  display: block;
  /* justify-content: space-evenly; */
  /* padding-bottom: 94px; */
}

.work-header,
.team-header,
.klient-header {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  /* 42px */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-color);
  margin-bottom: 50px;
}

.work-list {
  display: flex;
}

.work-list-item:not(:last-child) {
  margin-right: 30px;
}

.work-list-item {
  position: relative;
}

.work-list-item>.label {
  position: absolute;
  bottom: 0;
  /* left: 0; */
  margin: 0;
  padding: 27px 0;
  width:370px;
  
  font-family: var(--main-font);
  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  /* 16px */
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
}

/* zespół team - main page */
.team .container {
  display: block;
  /* justify-content: space-evenly; */
  /* padding-top: 94px;
  padding-bottom: 94px; */
}

.team {
  background-color: var(--button-color);
}

.team-opis {
  padding: 30px 0;
  /* padding-bottom: 30px; */
}

.team-list {
  display: flex;
}

.team-list-item {
  background: var(--white-color);
    
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.team-header-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  /* 19px */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-color);
}

.team-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  /* 19px */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--gray-color);
}

.team-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.team-social-list-link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: var(--white-color);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: var(--litegray-color);
}

.team-social-list-link:not(:last-child) {
  margin-right: 10px;
}

.team-social-list-link:focus,
.team-social-list-link:hover {
  background-color: var(--main-color);
  fill: var(--white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .team-social-icon {
  width: 20px;
  height: 20px;
} */

/* ---- Klienci ---- */
.klient .container {
  display: block;
}

.klient {
  padding-bottom: 0;
}

.klient-list {
  display: flex;
  /* justify-content: space-evenly; */
  flex-wrap: wrap;
  justify-content: space-between;  
}

.klient-list-item:not(:last-child) {
  margin-right: 30px;
}  

/* .klient-list-item */
.klient-social-list-link {
  /* flex-basis: calc(100% / 4 - 30px); */
  /* padding-bottom: 20px; */
  display: flex;
  align-items: center;
  width: 170px;
  height: 92px;
  /* background: #F5F4FA; */
  fill: var(--litegray-color);
  border: 1px solid var(--litegray-color);
  border-radius: 4px;
  margin-bottom: 94px;
  align-items: center;
  justify-content: center;
}

.klient-social-list-link:focus,
.klient-social-list-link:hover {
  border-color: var(--main-color);
  fill: var(--main-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .klient-social-icon {
  display: flex;
  width: 106px;
  height: 60px;
  fill: var(--litegray-color);}*/
 

/* ====== portfolio - projects ======= */
/* ---- button ---- */
.button-portfolio-section .container {
  display:block;
}

.button-portfolio-section {
  display: flex;
  padding-bottom: 0;
  /* margin: 94px 0; */
}

.prace {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.button-portfolio {
  text-align: center;
  border-style: none;
  border-radius: 4px;
  padding: 6px 22px;
}

.buton-item-portfolio:not(:last-child) {
  margin-right: 8px;
}

/* ---- projects ---- */
.project .container {
  display: flex;
}

.project {
  padding-top: 0;
  margin: 0;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-list-item {
  flex-basis: calc(100% / 3 - 30px);
  /* padding-bottom: 20px; */
  margin-bottom: 30px;
}

.team-list-item:focus,
.team-list-item:hover,
.project-list-item:focus,
.project-list-item:hover {
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
  0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img-project {
  width: 370px;
  height: 294px;
}

.img-figure:hover .overlay-portfolio {
  transform: translatey(0);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img-figure {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.img-figure .overlay-portfolio {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translatey(150%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
      
  font-weight: 400;
  font-size: 18px;
  line-height: 1.556;
  /* or 28px */
  letter-spacing: 0.03em;
  color: var(--white-color);
  padding: 49px 45px 49px 24px;
  margin: 0;
}

.img-podpis {
  display: block;
  box-sizing: border-box;
  padding: 20px 24px;
  border: 1px solid #ECECEC;
  border-top: 0;
}

.header-project {
  width: 322px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* 36px */
  letter-spacing: 0.06em;
  color: var(--dark-color);
}

.p-project {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  /* 30px */
  letter-spacing: 0.03em;
  color: var(--gray-color);
}

/* ====== footer ====== */
.foter .container {
  display: flex;
  /* width: 1600px; */
  color: var(--white-color);
  padding: 60px 0;
  /* padding-left: 215px; */
  text-align: left;
  margin: 0 auto;
}

.adres-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  /* 24px */
  letter-spacing: 0.03em;
  display:flex;
}

.adres-footer-list-item:not(:last-child) {
  padding-bottom: 9px;
}

.foter-left > .logo-dark {
  color: var(--white-color);
  display: block;
  padding-bottom: 20px;
}

.adres-footer-list-item > .adres-mail,
.adres-footer-list-item > .adres-phone {
  color: var(--gray-color-transparent);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container .foter-right {
  display: block;
  /* align-items: flex-start; */
  align-self: flex-start;
  justify-content: space-between;
  margin-left: 70px;
  flex-wrap: wrap;
}

.foter-p {
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.188;
  /* 19px */
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: var(--white-color);
  margin-top: 12px;
  margin-bottom: 20px;
}

.foter-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.foter-social-list-link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: var(--white-color);
}

.foter-social-list-item:not(:last-child) {
  margin-right: 10px;
}

.foter-social-list-link:focus,
.foter-social-list-link:hover {
  background-color: var(--main-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .foter-social-icon {
  width: 20px;
  height: 20px;
} */

/* ==== Okno modalne - backdrop ====*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: oposity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* transform: scale(1);
  animation: roadRunnerIn 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; */
  cursor: pointer;
}

/* .backdrop.out {
  animation: quickScaleDown 0s .5s linear forwards;
  animation: roadRunnerOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
} */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* mogą być inne wymiary okna modalnego: */
  width: 528px;
  min-height: 581px;
  background-color: var(--white-color);
  cursor: pointer;
  /* transition: oposity 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.iksik {
  fill: #000;
  margin-top: 30%;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  fill: #000;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}