:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --main-color: #2196f3;
  --dark-color: #212121;
  --gray-color: #757575;
  --white-color: #ffffff;
  --main-section-color: #2f303a;
  --button-color: #f5f4fa;
  --gray-color-transparent: rgba(255, 255, 255, 0.6);
  --shadow-color: rgba(0 0 0 0.15);
}

body {
  background-color: var(--white-color);
  font-family: var(--main-font);
  color: var(--dark-color);
}

h1,
h2,
h3,
h4,
h5,
h6{
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0;
}
p{
  padding: 0;
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  align-items: center;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  /* 42px */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-color);
}

/* .link:visited,
.link:link */

.navi-list-link {
  color: var(--dark-color);
}

.navi-list,
.adres,
.atut-list,
.work-list,
.team-list,
.prace,
.project-list,
.adres-footer-list {
  list-style: none;
}

.foter {
  background-color: var(--dark-color);
  color: var(--white-color);
}

/* ==== header ==== */
.header .container {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid #ECECEC;
  /* border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ECECEC; */
}

.logo-menu {
  margin-right: 93px;
}

.navi-list-item:not(:last-child) {
  margin-right: 46px;
}

.mail-link {
  margin-left: auto;
  margin-right: 50px;
}

.navi {
  display: flex;
  align-items: center;
}

.navi-list {
  display: flex;
}

/* --- logo --- */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  /* line-size = 1.192 = line-size w px (np. 31px) podzielić przez font-size (np. 26px) */
  line-height: 1.192;
  /* 31px */
  letter-spacing: 0.03em;
  color: var(--dark-color);
}

.logo:visited {
  color: var(--dark-color);
}

.agencja-navi,
.portfolio-navi {
  color: var(--main-color);
}

.logo-web {
  color: var(--main-color);
}

/* nawigacja */

.navi-list,
.adres {
  /* width: 53px;
  height: 16px;
  left: 453px;
  top: 32px; */

  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  /* 16 */
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.navi-list-link:hover,
.navi-list-link:focus,
.adres-mail:hover,
.adres-mail:focus,
.adres-phone:hover,
.adres-phone:focus,
.adres-footer-list-item > .link:hover,
.adres-footer-list-item > .link:focus {
  color: var(--main-color);
}

.adres,
.adres-footer {
  font-style: normal;
}

/* ==== main ===== */
.main-section .container {
  display: block;

  /* width: 1600px; */
  color: var(--white-color);
  /* padding: 0px; */
  /* padding-left: 215px;
  margin: 0 auto;
   */
  padding-top: 200px;
  padding-bottom: 200px;
}

.main-section {
  display: block;
  background: var(--main-section-color);
  /* padding-top: 200px; */
  /* padding-top: 0; */
  /* padding-bottom: 200px; */
}

.main-header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  /* 60px */
  letter-spacing: 0.06em;
  text-align: center;
  /* color: var(--white-color); */

  /* width: 696px; */
  
  display: block;
  align-items: center;
  /* padding-top: 200px; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.button-main {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  /* 30px */
  letter-spacing: 0.06em;
  color: var(--dark-color);
  width: 210px;
  height: 50px;

  cursor: pointer;
  border-style: none;
  border-radius: 4px;

  display:block;
  box-shadow: 0px 4px 4px var(--shadow-color);
  align-items: center;
  text-align: center;
  padding: 10px 41px 10px 42px;
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: 200px; */
}

.button-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  /* 26px */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-color);
  background-color: var(--button-color);
  height: 38px;
  cursor: pointer;
}

.button-main,
.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--main-color);
  color: var(--white-color);
}

/* main page - atuts */
.atut {
  padding-bottom: 0;
}

.atut .container {
  display:block;
}

.atut-list {
  display: flex;
  justify-content: space-evenly;
}

.atut-list:not(:last-child) {
  margin-right: 30px;
}  


.atut-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  /* 16px */
  letter-spacing: 0.03em;
  color: var(--dark-color);
}

.atut-p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  /* 24px */
  letter-spacing: 0.03em;
  color: var(--dark-color);
}

/* work - main page */

.work-section .container {
  display: block;
  /* justify-content: space-evenly; */
  /* padding-bottom: 94px; */
}

.work-header,
.team-header {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  /* 42px */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-color);
  margin-bottom: 50px;
}

.work-list {
  display: flex;
}

.work-list-item:not(:last-child) {
  margin-right: 30px;
}

/* zespół team - main page */
.team .container {
  display: block;
  /* justify-content: space-evenly; */
  /* padding-top: 94px;
  padding-bottom: 94px; */
}

.team {
  background-color: var(--button-color);
}

.team-opis {
  padding: 30px 0;
  /* padding-bottom: 30px; */
}

.team-list {
  display: flex;
}

.team-list-item {
  background: var(--white-color);
    
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.team-header-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  /* 19px */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-color);
}

.team-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  /* 19px */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--gray-color);
}

/* ====== portfolio - projects ======= */
/* ---- button --- */
.button-portfolio-section .container {
  display:block;
}

.button-portfolio-section {
  display: flex;
  padding-bottom: 0;
  /* margin: 94px 0; */
}

.prace {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.button-portfolio {
  text-align: center;
  border-style: none;
  border-radius: 4px;
  padding: 6px 22px;
}

.buton-item-portfolio:not(:last-child) {
  margin-right: 8px;
}

/* ---- projects ---- */
.project .container {
  display: flex;
}

.project {
  padding-top: 0;
  margin: 0;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-list-item {
  flex-basis: calc(100% / 3 - 30px);
  /* padding-bottom: 20px; */
  margin-bottom: 30px;
}

.team-list-item:focus,
.team-list-item:hover,
.project-list-item:focus,
.project-list-item:hover {
box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
  0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);
}

.img-project {
  width: 370px;
  height: 294px;
}

.img-podpis {
  display: block;
  box-sizing: border-box;
  padding: 20px 24px;
  border: 1px solid #ECECEC;
  border-top: 0;
}

.header-project {
  width: 322px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* 36px */
  letter-spacing: 0.06em;
  color: var(--dark-color);
}

.p-project {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  /* 30px */
  letter-spacing: 0.03em;
  color: var(--gray-color);
}

/* ====== footer ====== */
.foter .container {
  display: block;
  /* width: 1600px; */
  color: var(--white-color);
  padding: 60px 0;
  padding-left: 215px;
  margin: 0 auto;
}

.adres-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  /* 24px */
  letter-spacing: 0.03em;
  display:block;
}

.adres-footer-list-item:not(:last-child) {
  padding-bottom: 9px;
}

.container > .logo-dark {
  color: var(--white-color);
  display: block;
  padding-bottom: 20px;
}

.adres-footer-list-item > .adres-mail,
.adres-footer-list-item > .adres-phone {
  color: var(--gray-color-transparent);
}
