.adres,
.adres-footer {
    font-style: normal;
}

.adres {
    display: flex;
    align-items: center;
    color: var(--gray-color);
    fill: var(--gray-color);
}

.adres-mail__icon,
.adres-phone__icon {
    display: flex;
    margin-right: 10px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-link {
    margin-left: auto;
    margin-right: 50px;
}