.atut {
    padding-bottom: 0;

    &__list {
        display: flex;
        // flex-wrap: wrap;
        align-items: center;
        // justify-content: space-between;
        flex-direction: column;
        justify-content: center;
    }

    &__item {
        display: block;
        max-width: 450px;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }


    &__icon {
        // display: flex;
        width: 100%;
        // width: 450;
        height: 120px;
        align-items: center;
        background-color: var(--button-color);
        border-radius: 4px;
        padding: 25px 0px;
        margin-bottom: 30px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    }
}

.atut__item:not(:last-child) {
    margin-bottom: 30px;
}

.atut-header {
    // display: flex;
    width: 270px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--dark-color);
}

.atut-p {
    // display: flex;
    max-width: 270px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--dark-color);
    margin-top: 10px;
}

.atut-p:not(:last-child) {
    margin-right: 30px;
}

@media screen and (min-width: 768px) {
    .atut {
        &__list {
            flex-direction: row;
            flex-wrap: wrap;
            margin-top: -30px;
            margin-left: -30px;
        }

        &__item {
            flex-basis: calc(100% / 2 - 30px);
            max-width: 354px;
            margin-top: 30px;
            margin-left: 30px;
            margin-bottom: 0px;
        }
    }

    .atut-header {
        text-align: left;
    }

    .atut-l__icon {
        align-items: center;
        max-width: 354px;
    }
}

@media screen and (min-width: 1200px) {
    .atut__item {
        flex-basis: calc(100% / 4 - 30px);
        max-width: 270px;
        margin-bottom: 30px;
        align-items: center;
        justify-content: center;
    }

    .atut__icon {
        padding: 25px 100px;
        max-width: 270px;
    }

}