.atut {
    padding-bottom: 0;

    &__list {
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-between;
        // flex-direction: column;
        // align-items: center;
        justify-content: center;
    }

    &__item {
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
        &:not(:last-child) {
            margin-right: 30px;
        }
    }


    &__icon {
        display: flex;
        width: 100%;
        height: 120px;
        align-content: center;
        background-color: var(--button-color);
        border-radius: 4px;
        // padding: 25px 100px;
        margin-bottom: 30px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    }
}
    

.atut-header {
    display: flex;
    width: 270px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    color: var(--dark-color);
}

.atut-p {
    display: flex;
    width: 270px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--dark-color);    
}

//  and (max-width: 1200px)

@media screen and (min-width: 768px) {
    .atut {
        &__list {
            flex-direction: row;
            flex-wrap: wrap;
            margin-top: -30px;
            margin-left: -30px;
        }

        &__item {
            flex-basis: calc(100% / 2 - 30px);
            margin-top: 30px;
            margin-left: 30px;
        
            &:not(:last-child) {
                margin-bottom: 0px;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .atut__item {
        flex-basis: calc(100% / 4 - 15px);
        margin-bottom: 30px;
        align-items: center;
        justify-content: center;
    }
}