.atut {
    padding-bottom: 0;

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {
        flex-basis: calc(100% / 4 - 30px);
        margin-bottom: 30px;
        align-items: center;
        justify-content: center;
    }


    &__icon {
        display: flex;
    }
}
    

.atut-l__icon {
    display: flex;
    align-items: center;
    width: 270px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
}

.atut-header {
    display: flex;
    width: 270px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    color: var(--dark-color);
}

.atut-p {
    display: flex;
    width: 270px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--dark-color);

    &:not(:last-child) {
        margin-right: 30px;
    }
}