.client {
    padding-bottom: 0;
    display: flex;
    justify-content: center;

    &__list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        // align-items: center;
        margin-left: -30px;
        margin-top: -30px;
    }

    &__link {
        display: flex;
        min-width: 210px;
        min-height: 92px;
        align-items: center;
        justify-content: center;
        padding: 16px 0px;
        margin-top: 30px;
        fill: var(--litegray-color);
        border-radius: 4px;
        border: 1px solid var(--litegray-color);

        &:focus,
        &:hover {
            border-color: var(--main-color);
            fill: var(--main-color);
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
}

.client__item {
    flex-basis: calc(100% / 2 - 40px);
    margin-left: 30px;
    // margin-top: 30px;

    &:not(:last-child) {
        margin-bottom: 0;
    }
}

// .client__item:not(:last-child) {
//     margin-right: 30px;
// }

.client-header {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark-color);
    margin-bottom: 50px;
}


@media screen and (min-width: 768px) {
    .client__item {
        flex-basis: calc(100% / 3 - 30px)
    }

    .client__link {
        min-width: 226px;
        min-height: 92px;
    }
}

@media screen and (min-width: 1200px) {
    .client__item {
        flex-basis: calc(100% / 6 - 30px);
    }

    .client__link {
        min-width: 170px;
        min-height: 92px;
    }
}
