.foter-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        // margin-top: 16px;
    }

    &__link {
        display: flex;
        width: 44px;
        height: 44px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        fill: var(--white-color);
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:focus,
        &:hover {
            background-color: var(--main-color);
        }
    }

    &__item:not(:last-child) {
        margin-right: 10px;
    }
}

.foter-p {
    display: flex;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.172;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
    padding-top: 60px;
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .foter-socials {
        margin-left: 144px;
        margin-bottom: 0;
        margin-top: 0;
        // align-self: flex-start;
    }

    .foter-p {
        padding-top: 0;
    }
}

@media screen and (min-width: 1200px) {
    .footer-socials {
        margin-left: 70px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .foter-p {
        display: flex;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.172;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--white-color);
        padding-top: 0;
        margin-bottom: 20px;
    }
}