.container .foter-newsletter {
    display: block;
    align-self: flex-start;
    justify-content: space-between;
    margin-left: 78px;
    flex-wrap: wrap;
}

.foter-newsletter-input {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.foter-newsletter-email {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.250;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    background-color: transparent;
    display: flex;
    width: 358px;
    height: 50px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.foter-newsletter-btn {
    display: flex;
    width: 200px;
    height: 50px;
    align-items: center;
    text-align: center;
    padding: 10px 28px 10px 42px;
    margin-left: 12px;
    margin-right: auto;
    background-color: var(--main-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    color: var(--white-color);
    fill: var(--white-color);
    cursor: pointer;
}

.foter-newsletter__icon {
    margin-left: 24px;
}