.foter {
    background-color: var(--dark-color);
    color: var(--white-color);
    margin-top: 94px;
    padding-top: 60px;
    padding-bottom: 40px;
    justify-content: center;
    align-items: center;
}

.foter-left>.logo-dark {
    color: var(--white-color);
    display: block;
    padding-bottom: 20px;
}

