.header {
  border-bottom: 1px solid #ECECEC;
  padding: 0;
  
  // padding-top: 16px;
  // padding-bottom: 16px;
}

.mobi__button {
  display: flex;
  width: 24px;
  height: 16px;
  // margin-left: 135px;
  // margin-right: 16px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--main-color);
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) {
  
  .header {
   
    .mobi__button {
      display: none;
    }
  }
}