.header {
  border-bottom: 1px solid #ECECEC;
  padding: 0;
  
  // padding-top: 16px;
  // padding-bottom: 16px;
}

// buttons mobile
.button__mobile {
  width: 24px;
  height: 16px;
  fill: var(--dark-color);
  position: absolute;
  top: 21px;
  right: 25px;

  &:hover,
  &:focus {
    cursor: pointer;
    fill: var(--main-color)
  }
}

.mobile-menu__close-btn {
  display: flex;
  width: 24px;
  height: 16px;
  fill: var(--dark-color);
  position: absolute;
  top: 21px;
  right: 25px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    cursor: pointer;
    fill: var(--main-color)
  }
}



@media screen and (min-width: 768px) {
  .button__mobile {
    display: none;
  }
}