.header {
  border-bottom: 1px solid #ECECEC;
  padding: 0;
  
  // padding-top: 16px;
  // padding-bottom: 16px;
}

// buttons mobile
.button__mobile {
  width: 24px;
  height: 16px;
  fill: var(--dark-color);
  position: absolute;
  // top: 25px;
  right: 30px;

  &:hover,
  &:focus {
    cursor: pointer;
    fill: var(--main-color)
  }
}


@media screen and (min-width: 768px) {
  .button__mobile {
    display: none;
  }
}