.img-project {
  width: 370px;
  height: 294px;
}

.box:hover .overlay-portfolio {
  transform: translatey(0);
}

.box {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  overflow: hidden;
}

.img-figure .overlay-portfolio {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(150%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-portfolio > p {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  color: var(--white-color);
  padding: 49px 45px 49px 24px;
  margin: 0;
}

.img-podpis {
  display: block;
  box-sizing: border-box;
  padding: 20px 24px;
  border: 1px solid #ECECEC;
  border-top: 0;
}

.header-project {
  width: 322px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--dark-color);
}

.p-project {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--gray-color);
}