.main-section {
    padding: 0;
    // display: block;
    // background-color: var(--main-section-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url("../images/main/backgroundmobile1x.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

.main-header {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.615;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-color);
    justify-content: center;
   
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 767px),
screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (min-width: 320px) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (min-width: 320px) and (max-width: 767px) {
    .main-section {
        background-image:
            linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url("../images/main/backgroundmobile@2x.jpg");
    }
}

@media screen and (min-width: 768px) {
    .main-section {
        background-image:
            linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url("../images/main/backgroundtablet1x.jpg");
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px),
screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px),
screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1199px),
screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1199px) {
    .main-section {
        background-image:
            linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url("../images/main/backgroundtablet@2x.jpg");
    }
}

@media screen and (min-width: 1200px) {
    .main-section {
        background-image:
            linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url("../images/main/backgrounddesktop1x.jpg");
    }

    .main-header {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.364;
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px) and (max-width: 1600px),
screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px) and (max-width: 1600px),
screen and (min-resolution: 192dpi) and (min-width: 1200px) and (max-width: 1600px),
screen and (min-resolution: 2dppx) and (min-width: 1200px) and (max-width: 1600px) {
    .main-section {
        background-image:
            linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url("../images/main/backgrounddesktop@2x.jpg");
    }
}