.modal-form-header {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.150;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark-color);
    // padding-top: 40px;
    margin-bottom: 12px;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-label {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1.167;
    /* 14px; */
    letter-spacing: 0.01em;
    color: var(--gray-color);
}

.modal-label-text {
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.01em;
    color: var(--gray-color);
}

.modal-form-input-wrapper {
    position: relative;
    display: block;
    margin-top: 4px;
}

.modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;

    &:focus {
        border-color: var(--main-color);
        outline: none;
    }
}

.modal-form__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    fill: var(--dark-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus+.modal-form__icon {
    fill: var(--main-color);
}

.modal-form-message {
    outline: none;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    margin-top: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        border-color: var(--main-color);
    }
}

