.team {
    background-color: var(--button-color);
}

.team-header {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark-color);
    margin-bottom: 50px;
}

.team-opis {
    padding: 30px 0;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__list {
    display: flex;
}

.team__item {
    background: var(--white-color);

    &:focus,
    &:hover {
        box-sizing: border-box;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.team__item:not(:last-child) {
    margin-right: 30px;
}

.team-header-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.188;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark-color);
}

.team-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.188;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--gray-color);
}