h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 0;
}

p {
    padding: 0;
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

.link {
    text-decoration: none;
    transition: color 250ms linear, transform 250ms ease;
}

.navi__list,
.adres,
.atut__list,
.work__list,
.team__list,
.prace,
.project__list,
.adres-footer__list,
.list {
    list-style: none;
}

.adres,
.adres-footer {
    font-style: normal;
}