.container {
    width: 100%;
    padding: 0 15px;
    align-items: center;
    margin: 0 auto;

    .header & {
        display: flex;
        align-items: center;
        justify-items: center;
        padding-top: 0;
        padding-bottom: 0;
        height: 80px;
        margin: 0 auto;
    }

    .main-section & {
        display: block;
        color: var(--white-color);
        padding-top: 200px;
        padding-bottom: 200px;
    }

    .atut & {
        display: block;
    }

    .portfolio-btn & {
        max-width: 480px;
        padding: 0 15px;
    }

    .button-portfolio & {
        display: block;
    }

    .project & {
        display: flex;
    }

    .client & {
        display: block;
    }

    .work-section & {
        display: block;
    }

    .team & {
        display: block;
        // max-width: 480px;
        // padding: 0 15px;
    }

    .foter & {        
        display: block;
        flex-direction: row;
        align-items: baseline;
        justify-content: center;
        text-align: center;
        color: var(--white-color);
        margin: 0 auto;
    }
}


// 480+
@media screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        max-width: 448px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .container {
        max-width: 768px;
    
        .header & {
            justify-content: center;
        }

        .portfolio-btn & {
            max-width: 768px;
            padding: 0 15px;
        }

        .foter & {
            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: wrap;
            align-content: flex-start;
        }
    }
}

// 1200+
@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;

        .foter & {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            text-align: left;
        }
    
        & .foter-social {
            display: block;
            align-self: flex-start;
            justify-content: space-between;
            margin-left: 70px;
            flex-wrap: wrap;
        }

        .portfolio-btn & {
            max-width: 1200px;
            padding: 0 15px;
        }

        & .foter-newsletter {
            display: block;
            align-self: flex-start;
            justify-content: space-between;
            margin-left: 78px;
            flex-wrap: wrap;
        }
    }
}