:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --main-color: #2196f3;
    --dark-color: #212121;
    --gray-color: #757575;
    --litegray-color: #afb1b8;
    --white-color: #ffffff;
    --main-section-color: #2f303a;
    --button-color: #f5f4fa;
    --gray-color-transparent: rgba(255, 255, 255, 0.6);
    --shadow-color: rgba(0, 0, 0, 0.15);
}

body {
    background-color: var(--white-color);
    font-family: var(--main-font);
    color: var(--dark-color);
}